@using Microsoft.AspNetCore.Identity
@using ArticleManager.Areas.Identity.Data

@model IEnumerable<ArticleManager.Models.Article>
@inject UserManager<ArticleManagerUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserVotes)
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Article" asp-action="Index" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated && UserManager.GetUserName(User) != item.Author)
                {
                    <form asp-action="Upvote" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-success btn-sm">+</button>
                    </form>
                }
                @Html.DisplayFor(modelItem => item.UserVotes.Count)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated && UserManager.GetUserName(User) == item.Author)
                {
                        <a asp-controller="Article" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                } else
                {
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
